*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
header{
  background-image: url(./img/cover\ \(5\).png);
  margin: 0;
  background-repeat: no-repeat;
}
#body{
  max-width: width 1375px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul div{
  display: flex;
}

nav ul li{
  list-style-type: none;
  padding: 20px;
  color: #737373;
  padding-right: 20px;
}
nav ul div:nth-child(1){
  padding-left: 180px;
}
nav ul div:nth-child(3){
  display: flex;
flex-direction: row;
justify-content: end;
}