*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
header{
  background-image: url(./img/cover\ \(5\).png);
  margin: 0;
  background-repeat: no-repeat;
}
#body{
  max-width: width 1375px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul div{
  display: flex;
}

nav ul li{
  list-style-type: none;
  padding: 20px;
  color: #737373;
  padding-right: 20px;
}
nav ul div:nth-child(1){
  padding-left: 180px;
}
nav ul div:nth-child(3){
  display: flex;
flex-direction: row;
justify-content: end;
}

.div3{
  padding-left: 30px;
}
nav ul li{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
nav ul div:nth-child(2) li{
  display: flex;
}

.div2{
  padding-top: 200px;
}
.div2 h1{
  max-width: 609px;
  font-weight: 800;
  font-size: 57px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.div3 li a{
  color: #737373;
  text-decoration: none;
}
.div4 li:nth-child(3){
  padding-left: 150px;
}

.div1 img{
  transform: scale(0.99);
  display: flex;
  align-items: flex-end;
  padding-top: 43px;
}

.btn0{
  padding-bottom: 50px;
}
nav h3{
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.div1{
  display: flex;
  justify-content: space-between;
  padding-left: 220px;
}
.div2 p{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #7c7c7c;
  max-width: 340px;
}

.div2 button{
  padding: 10px 35px;
  border-radius: 45px;
}
 #btn1{
  background-color: #784F33;;
  color: #FFFFFF;
  border: 1px solid #784F33;;
  margin-top: 20px;
  
} 
#btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #784F33;;
  color: #784F33;;
  margin-left: 10px;
}
main section:nth-child(1){
  background-color:white;
  margin-top: -5px;
}
 main section:nth-child(1) h2{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0 auto;
  max-width: 369px;
  padding-top: 100px;

}
main section:nth-child(1) p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #948f8f;
  max-width: 470px;
  text-align: center;
  margin: 0 auto;

}
#cart1{
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
#cart1 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  margin:  0 15px;
  padding: 20px;
  height: 140px;
  background-color: #dfdddd;
  border-radius: 8px;
}
  #cart1 div:nth-child(2){
  background-color: #0656a1;
}
#cart1 div img{
  max-width: 45px;
  margin: 0 auto;
}
#cart1 div h5{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #000000;
  padding-top: 15px;
}
#cart1 div:nth-child(2) h5{
  color: #ffffff;
}
 main section:nth-child(2){
  background-color: #FAFAFA;;
}
main section:nth-child(2) h2{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;;
  text-align: center;
  padding-top: 125px;
}
.p1{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #757575;
  max-width: 470px;
  margin:  0 auto;
  padding-top: 15px;
}
.cart2{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 100px;
}
.cart2 div{
  display: flex;
  flex-direction: column;
  flex-basis: calc(100 / 4 - 20px);
  margin: 20px 10px;
  background-color: #ffffff;
}
.cart2 h5{
  width: 145px;
  padding-left: 30px;
  padding-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.cart2 p{
  max-width: 160px;
  padding-left: 30px;
  padding-top: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;

}
main section:nth-child(3){
  background-color: white;
}
.cart5 h2{
  max-width: 461px;
  padding-left: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #271c46;
  margin: 0 auto;
  padding-top: 10px;
}
.cart5 p{
  max-width: 511px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color:#919191;
  margin: 0 auto;
  padding-top: 10px;
}
.cart4{
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.cart4 h2{
  max-width: 330px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #271c46;
}  
.cart4 p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #919191;
  max-width: 330px;
}
.cont{
  display: flex;
  flex-direction: column;
}
.cont div{
  display: flex;
  padding-top: 50px;
}
.cont img{
  height: 50%;
  width: 30px;
  display: flex;
  align-items: center;
}
.cont h5{
  padding-left: 20px;
  max-width: 277px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color:  #252B42;;

}
.cont h6{
  padding-left: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color:  #919191 ;
}
main section:nth-child(4){
  background-color: #f7f7f7;
}
main section:nth-child(4) h2{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  text-align: center;
  padding-top: 80px;
}
main section:nth-child(4) p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #969696;
  max-width: 470px;
  margin: 0 auto;
  padding-top: 15px;
}
.contr{
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 200px;
}
.contr div{
  background-color: #ffffff;
  flex-basis: calc(100% / 2 - 50px);
  text-align: center;
  margin: 20px 25px;

}
.contr div img{
  padding-top: 50px;
  padding-bottom: 20px;
}
  

.contr div h6{
  padding-top: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}
  
.contr div h5{
  padding-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}
.contr button{
  margin-top: 25px;
  margin-bottom: 60px;
  background-color: rgba(240, 230, 140, 0);
  border: 1px solid #b46600;
  color: #FFA62B;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
}
footer section:nth-child(1){
  background-color: #26368d;
} 
footer section:nth-child(1){
  display: flex;
  padding: 70px;
  justify-content: space-between;
  padding-right: 200px;
}

h5{
  padding-left: 45px;
  padding-bottom: 20px;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #FFFFFF;
}
li{
  list-style-type: none;
  padding: 0;
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
color: #FFFFFF;
}

footer section:nth-child(2){
  background-color: #252B42;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
 footer section:nth-child(2) img{
  padding: 0 15px;
  padding: 20px;
}

footer section:nth-child(2) div:nth-child(1){
  font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
display: flex;
align-items: center;
color: #FFFFFF;

} 
@media(max-width:1300px){
  .div1 img{
      display: none;
  }
}

.div4 li:nth-child(3) img{
  padding-left: 10px;
  align-items: center;
}
.div3 div:nth-child(1){
    padding-left: 100px;
}
.div2 h1{
    text-align: center;
    max-width: 5000px;  
}
.div2 p{
    text-align: center;
    max-width: none;
}
.div1{
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.btn0{
    display: flex;
    justify-content: center;
} 
   #btn2{
  height: 37px;
  margin-top: 20px;    
}
@media(max-width:1150px){
  .div4 li:nth-child(3){
      padding: 0;
      align-items: center;
       padding-left: 65px;
       padding-right: 30px;
  }
}  @media(max-width:1050px){
  nav ul{
      display: flex;
      flex-direction: column;
  }
}

nav ul div{
    display: flex;
    justify-content: center;
}
nav ul div:nth-child(1){
    padding-left: 0;
}
.div1{
    margin-top: -50px;
}
.div2{
    margin-top: -100px;
}
.div3{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}
.div3 div:nth-child(1){
    padding-left: 0;
}
.div4{
    margin-top: -10px;
}
  
.div4 li:nth-child(3){
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
.cart2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img1 img{
    display: none;
}
.cart4 h2{
    max-width: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-right: 200px;
}
.cart4 p{
    max-width: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-right: 200px;
}
.cont{
    padding-left: 50px;
}
footer section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer section:nth-child(2) div:nth-child(2){
    padding: 20px;
    justify-content: center;
}

footer section:nth-child(2) div{
    text-align: center;
    margin: 0 auto;
}