*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
header{
  background-image: url(./img/cover\ \(5\).png);
  margin: 0;
  background-repeat: no-repeat;
}
#body{
  max-width: width 1375px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul div{
  display: flex;
}

nav ul li{
  list-style-type: none;
  padding: 20px;
  color: #737373;
  padding-right: 20px;
}
nav ul div:nth-child(1){
  padding-left: 180px;
}
nav ul div:nth-child(3){
  display: flex;
flex-direction: row;
justify-content: end;
}

.div3{
  padding-left: 30px;
}
nav ul li{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
nav ul div:nth-child(2) li{
  display: flex;
}

.div2{
  padding-top: 200px;
}
.div2 h1{
  max-width: 609px;
  font-weight: 800;
  font-size: 57px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.div3 li a{
  color: #737373;
  text-decoration: none;
}
.div4 li:nth-child(3){
  padding-left: 150px;
}

.div1 img{
  transform: scale(0.99);
  display: flex;
  align-items: flex-end;
  padding-top: 43px;
}

.btn0{
  padding-bottom: 50px;
}
nav h3{
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.div1{
  display: flex;
  justify-content: space-between;
  padding-left: 220px;
}
.div2 p{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #7c7c7c;
  max-width: 340px;
}

.div2 button{
  padding: 10px 35px;
  border-radius: 45px;
}
 #btn1{
  background-color: #784F33;;
  color: #FFFFFF;
  border: 1px solid #784F33;;
  margin-top: 20px;
  
} 
#btn2{
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #784F33;;
  color: #784F33;;
  margin-left: 10px;
}
main section:nth-child(1){
  background-color:white;
  margin-top: -5px;
}
 main section:nth-child(1) h2{
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin: 0 auto;
  max-width: 369px;
  padding-top: 100px;

}
main section:nth-child(1) p{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #948f8f;
  max-width: 470px;
  text-align: center;
  margin: 0 auto;

}
#cart1{
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}
#cart1 div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  margin:  0 15px;
  padding: 20px;
  height: 140px;
  background-color: #dfdddd;
  border-radius: 8px;
}
