*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
header{
  background-image: url(./img/cover\ \(5\).png);
  margin: 0;
  background-repeat: no-repeat;
}
#body{
  max-width: width 1375px;
}
nav ul{
  display: flex;
  justify-content: space-between;
}

nav ul div{
  display: flex;
}

nav ul li{
  list-style-type: none;
  padding: 20px;
  color: #737373;
  padding-right: 20px;
}
nav ul div:nth-child(1){
  padding-left: 180px;
}
nav ul div:nth-child(3){
  display: flex;
flex-direction: row;
justify-content: end;
}

.div3{
  padding-left: 30px;
}
nav ul li{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
nav ul div:nth-child(2) li{
  display: flex;
}

.div2{
  padding-top: 200px;
}
.div2 h1{
  max-width: 609px;
  font-weight: 800;
  font-size: 57px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.div3 li a{
  color: #737373;
  text-decoration: none;
}
.div4 li:nth-child(3){
  padding-left: 150px;
}

.div1 img{
  transform: scale(0.99);
  display: flex;
  align-items: flex-end;
  padding-top: 43px;
}

.btn0{
  padding-bottom: 50px;
}
nav h3{
  padding-top: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.div1{
  display: flex;
  justify-content: space-between;
  padding-left: 220px;
}